<div class="relative overflow-x-auto mx-12 w-full ">
    <h2 style="color:#4f46e5; font-weight: bold;" class="text-xl mt-4 mb-2">REGISTRO DE NORMA</h2>


<div class="mb-4">
    <input type="text" id="email"
        class="bg-white	 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Nombre" required>
</div>
<div class="mb-4">
    <input type="text" id="password"
        class="bg-white	 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Base legal" required>
</div>
<div class="flex space-x-4">
    <div class="flex-1">
        <input type="date" class="w-full p-2 border rounded bg-white"  placeholder="Fecha de publicación"
        class="bg-white  border border-gray-300 text-gray-900 text-base rounded-lg  p-1.5"
        type="text"
        onfocus="(this.type='date')"
        onblur="(this.type='text')"
        id="date">
    </div>

    <div class="flex-1">
        <select class="w-full p-2 border rounded bg-white">
            <option selected>Organismo Emisor</option>
            <option value="US">United States</option>
            <option value="CA">Canada</option>
            <option value="FR">France</option>
            <option value="DE">Germany</option>
        </select>
    </div>

</div>


</div>
