<div class="relative overflow-x-auto mx-12 w-full ">
    <h2 style="color:#4f46e5; font-weight: bold;" class="text-xl mt-4 mb-2">REGISTRO DE NORMA</h2>


    <div class="mb-4">
        <input type="text" id="email"
            class="bg-white	 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Nombre" required>
    </div>
    <div class="mb-4">
        <input type="text" id="password"
            class="bg-white	 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Base legal" required>
    </div>

    <div class="flex space-x-4 mb-4">
        <div class="flex-1">
            <input type="date" class="w-full p-2 border rounded bg-white" placeholder="Fecha de publicación"
                class="bg-white  border border-gray-300 text-gray-900 text-base rounded-lg  p-1.5" type="text"
                onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
        </div>

        <div class="flex-1">
            <input type="text" id="password"
                class="bg-white	 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Vigencia" required>
        </div>

    </div>

    <div class="flex space-x-4">

        <div class="flex-1">
            <select class="w-full p-2 border rounded bg-white">
                <option selected>Organismo Emisor</option>
                <option value="US">United States</option>
                <option value="CA">Canada</option>
                <option value="FR">France</option>
                <option value="DE">Germany</option>
            </select>
        </div>

        <div class="flex-1">
            <select class="w-full p-2 border rounded bg-white">
                <option selected>Tipo</option>
                <option value="US">United States</option>
                <option value="CA">Canada</option>
                <option value="FR">France</option>
                <option value="DE">Germany</option>
            </select>
        </div>

        <div class="flex-1">
            <select class="w-full p-2 border rounded bg-white">
                <option selected>Sectores Económicos</option>
                <option value="US">United States</option>
                <option value="CA">Canada</option>
                <option value="FR">France</option>
                <option value="DE">Germany</option>
            </select>
        </div>

    </div>

    <div class="mb-4">
        <hr class="w-full">
    </div>

    <div class="flex space-x-4">

        <div class="flex-1 flex">
            <select class="w-full p-2 border rounded bg-white">
                <option selected>Materia </option>
                <option value="US">United States</option>
                <option value="CA">Canada</option>
                <option value="FR">France</option>
                <option value="DE">Germany</option>
            </select>
            <button  (click)="toggleModal()" class="text-white bg-blue-700 ml-2 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-full sm:w-auto px-2.5  text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <mat-icon class="text-3xl text-white">add</mat-icon>
            </button>
        </div>

        <div class="flex-1 flex">
            <select class="w-full p-2 border rounded bg-white">
                <option selected>Tema</option>
                <option value="US">United States</option>
                <option value="CA">Canada</option>
                <option value="FR">France</option>
                <option value="DE">Germany</option>
            </select>
            <button  (click)="toggleModal2()" class="text-white bg-blue-700 ml-2 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-full sm:w-auto px-2.5  text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <mat-icon class="text-3xl text-white">add</mat-icon>
            </button>
        </div>

        <div class="flex-1 flex">
            <select class="w-full p-2 border rounded bg-white">
                <option selected>Subtema</option>
                <option value="US">United States</option>
                <option value="CA">Canada</option>
                <option value="FR">France</option>
                <option value="DE">Germany</option>
            </select>
            <button (click)="toggleModal3()" class="text-white bg-blue-700 ml-2 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-full sm:w-auto px-2.5  text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <mat-icon class="text-3xl text-white">add</mat-icon>
            </button>
        </div>

    </div>
    <div class="flex-1 text-end mt-5">
        <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Agregar</button>
    </div>
    

      <div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
        <div class="relative w-100 my-6 mx-auto max-w-6xl z-50	">
          <!--content-->
          <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <!--header-->
            <div class="flex justify-between p-1 items-center border-b border-solid border-blueGray-200 rounded-t  bg-blue-700">
              <h4 class="text-base text-white font-semibold">
                REGISTRO DE MATERIAS
              </h4>
              <button class="p-1 ml-auto bg-transparent border-0  float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal()">
                <span class=" text-white text-2xl block outline-none focus:outline-none z-90" aria-hidden="true">
                  &times;
                </span>
              </button>
            </div>
            <!--body-->
            <div class="mb-4 mx-auto mt-4">
                <input type="text" id="password"
                    class="bg-white	w-80 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block  py-1.5 px-8 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Descripción" required>
            </div>
            <!--footer-->
            <div class="flex items-center justify-end p-2 border-t border-solid border-blueGray-200 rounded-b">
      
                <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Agregar</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>

      <div *ngIf="showModal2" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
        <div class="relative w-100 my-6 mx-auto max-w-6xl z-50	">
          <!--content-->
          <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <!--header-->
            <div class="flex justify-between p-1 items-center border-b border-solid border-blueGray-200 rounded-t  bg-blue-700">
              <h4 class="text-base text-white font-semibold">
                REGISTRO DE TEMA
              </h4>
              <button class="p-1 ml-auto bg-transparent border-0  float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal2()">
                <span class=" text-white text-2xl block outline-none focus:outline-none z-90" aria-hidden="true">
                  &times;
                </span>
              </button>
            </div>
            <!--body-->
            <div class="mb-4 mx-auto mt-4">
                <select class="w-80 p-2 mb-4 border rounded bg-white">
                    <option selected>Selecciona Materia</option>
                    <option value="US">United States</option>
                    <option value="CA">Canada</option>
                    <option value="FR">France</option>
                    <option value="DE">Germany</option>
                </select>

                <input type="text" id="password"
                    class="bg-white w-80 border py-1.5 px-8 border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block   dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Descripción" required>
                  
            </div>
           
            <!--footer-->
            <div class="flex items-center justify-end p-2 border-t border-solid border-blueGray-200 rounded-b">
      
                <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Agregar</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showModal2" class="opacity-25 fixed inset-0 z-40 bg-black"></div>

      <div *ngIf="showModal3" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
        <div class="relative w-100 my-6 mx-auto max-w-6xl z-50	">
          <!--content-->
          <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <!--header-->
            <div class="flex justify-between p-1 items-center border-b border-solid border-blueGray-200 rounded-t  bg-blue-700">
              <h4 class="text-base text-white font-semibold">
                REGISTRO DE SUBTEMA
              </h4>
              <button class="p-1 ml-auto bg-transparent border-0  float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal3()">
                <span class=" text-white text-2xl block outline-none focus:outline-none z-90" aria-hidden="true">
                  &times;
                </span>
              </button>
            </div>
            <!--body-->
            <div class="mb-4 mx-auto mt-4">
                <select class="w-80 p-2 mb-4 border rounded bg-white">
                    <option selected>Selecciona Materia</option>
                    <option value="US">United States</option>
                    <option value="CA">Canada</option>
                    <option value="FR">France</option>
                    <option value="DE">Germany</option>
                </select>

            <div class="mb-4 mx-auto">
                <select class="w-80 p-2 mb-4 border rounded bg-white">
                    <option selected>Seleccione Tema</option>
                    <option value="US">United States</option>
                    <option value="CA">Canada</option>
                    <option value="FR">France</option>
                    <option value="DE">Germany</option>
                </select>

                <input type="text" id="password"
                    class="bg-white w-80 border py-1.5 px-8 border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block   dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Descripción" required>
                  
            </div>
           
            <!--footer-->
            <div class="flex items-center justify-end p-2 border-t border-solid border-blueGray-200 rounded-b">
      
                <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Agregar</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showModal3" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
</div>